/*=ELETRO WIDGETS CONTROL BAR
 -----------------------------------------------------*/
#eletro_widgets_control {
    background: #f0f0f0;
    color: black;
    margin: 0 0 9px 0;
    padding: 9px;
}

#eletro_widgets_control .eletro_list_widgets {
    float: left;
}

#eletro_widgets_control .widget_add_control {
    display:none;
    float: right; 
}

#eletro_widgets_control .eletro_list_widgets {
    padding: 3px 0;
}

#eletro_widgets_control .eletro_widgets_buttons {
    float: right; 
}

#eletro_widgets_control .eletro_widgets_buttons a {
    background: #ccc;
    cursor: pointer;
    display: block;
    float:left; 
    margin: 1px; 
    padding: 3px 9px;
    text-decoration: none;
}

#eletro_widgets_control .eletro_widgets_buttons a:hover {
    background: #333;
    color: white;
}
/*=END Eletro Widgets Control Bar
 -----------------------------------------------------*/

div.itemDrag {
	/* border: 1px solid #ccc; */
    clear: both;
}

div.itemDrag span.itemDrag {
	cursor: move;
}

div.itemDrag span.itemDrag a {
    cursor: pointer;
    font-size: 0.7em;
    position: absolute;
    top: 6px;
}

div.eletro_widgets_col {
	border: 1px dashed #ccc;
    min-height: 18px;
}

div.itemDrag span.itemDrag a.edit {
    right: 28px;
    background-image: url("img/application_edit.png");
    height:16px;
    width: 16px;
}

div.itemDrag span.itemDrag a.remove {
    right: 5px;
    background-image: url("img/application_delete.png");
    height:16px;
    width: 16px;
}

div.itemDrag span.itemDrag a:hover {
    text-decoration: underline;
}

.dragAjuda {
    background: #eff4f8;
    border: 1px dashed #0066cc;
    height: 18px;
    margin: 3px;    
}


.eletro_widgets_content {
    clear: both;
    margin: 0 0 18px 0;
    padding: 0 0px;
}
